.banner-div
{
    position: relative;
}
.overlay
{
    position: absolute;
    background:rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner-title
{
    color: white;
}